				{% block newscontent %}
					<!-- Box -->
						{% for news in most_recent_news %}
					        <div class="content">
								<p class="date">{{ news.date }}12.04.09</p>
								<h4>{{ news.title }}Disney's A Christmas Carol</h4>
								<p>{{ news.snippet }}&quot;Disney's A Christmas Carol,&quot; a multi-sensory thrill ride re-envisioned by Academy Award&reg;-winning filmmaker Robert Zemeckis, captures... </p>
								<a href="#">Read more</a>
							</div>
					    {% endfor %}
				{% endblock %}