<!-- Book -->
<div class="book">
    <div class="book-image">
        <a href="{{ path('book_details_show', { id: book.id }) }}">
            <span class="play">
                <span class="name">{{ book.title|upper }}</span>
            </span>
            <img src="{{ asset('uploads/BookCovers/'~ book.poster) }}" alt="{{ book.title }}" />
        </a>
    </div>  
    <div class="rating">
        <p>RATING</p>
        <div class="stars">
            <div class="stars-in">
                
            </div>
        </div>
        <span class="comments">{{ book.authorId }}</span>
    </div>
</div>
<!-- end Book -->