{% extends 'base.html.twig' %}
{% block bookdetails %}
<!-- Book -->
<div class="book-details">
    <div class="book-details-image">
        <a href="{{ path('admin_book_show', { id: book.id }) }}">
            <span class="play">
                <span class="name">{{ book.title|upper }}</span>
            </span>
            <img src="{{ asset('uploads/BookCovers/'~ book.poster) }}" alt="{{ book.title }}" />
        </a>
    </div>
    <div class="book-title">
        <span class="name">{{ book.title|upper }}</span>
        <span class="book-desc">
            {{ book.overview }}
        </span>
    </div>
    <div class="rating">
        <p>RATING</p>
        <div class="stars">
            <div class="stars-in">
                
            </div>
        </div>
        <span class="comments">{{ book.authorId }}</span>
    </div>
</div>
<!-- end Book -->
{% endblock %}