{% extends 'base.html.twig' %}
{% block toptrailers %}
{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}
{% use "form_div_layout.html.twig" %}
{{ form_start(form) }}
    <tr>
        <td>
            {{- fform_label(form.title) -}}
        </td>
        <td>
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
        </td>
    </tr>
<div>
   	{{ form_label(form.poster) }}
    {{ form_errors(form.poster) }}
    {{ form_widget(form.poster) }}
</div>
<div>
   	{{ form_label(form.subjectId) }}
    {{ form_errors(form.subjectId) }}
    {{ form_widget(form.subjectId) }}
</div>
<div>
	{{ form_label(form.authorId) }}
    {{ form_errors(form.authorId) }}
    {{ form_widget(form.authorId) }}
</div>
<div>
	{{ form_label(form.save) }}
	{{ form_widget(form.save) }}
</div>
{{ form_row(form._token) }}
{{ form_end(form) }}
    {# 
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }} 
	#}
{% endblock %}