{% extends 'base.html.twig' %}
{% block toptrailers %}
    <!-- Box -->
    <div class="box">
        <div class="head">
            <h2>LATEST BOOKS</h2>
            <p class="text-right"><a href="#">See all</a></p>
        </div>
        {% for books in home_books %}
            {{ include('books/book_snippets.html.twig', { 'book': books }) }}
        {% endfor %}
        <div class="cl">&nbsp;</div>
    </div>
    <!-- end Box -->
{% endblock %}