{% extends 'base.html.twig' %}
{% block toptrailers %}
	<!-- Box -->
	<div class="box">
		<div class="head">
			<h2>{{ 'label.top_rated'|trans|upper }}</h2>
			<p class="text-right"><a href="#">See all</a></p>
		</div>
		{% for books in bookstore %}
	        {{ include('books/book_snippets.html.twig', { 'book': books }) }}
	    {% endfor %}
		<div class="cl">&nbsp;</div>
	</div>
	<!-- end Box -->
{% endblock %}