<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/style.css') }}" />		
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    {% block body %}
    <body>
    <!-- Shell -->
	<div id="shell">
		{% block header %}
		{{ include('common/header.html.twig') }}
		{% endblock %}
		
		{% block main %}
    	<!-- Main -->
		<div id="main">
			<!-- Content -->
			<div id="content">
				<div id="displayBooks">
					{% block toptrailers %}

					{% endblock %}
					{% block toprated %}
					
					{% endblock %}
					{% block bookdetails %}
                    
                    {% endblock %}
				</div>
			</div>
			<!-- end Content -->
	
			<!-- NEWS -->
			<div id="news">
				<div class="head">
					<h3>NEWS</h3>
					<p class="text-right"><a href="#">See all</a></p>
				</div>
				{% block newscontent %}
				 {{ render(controller(
			        'AppBundle:News:recentNews',
			        { 'max': 3 }
			    )) }}
				{% endblock %}
			</div>
			<!-- end NEWS -->
			
			<!-- Coming -->
			<div id="coming">
				<div class="head">
					<h3>COMING SOON<strong>!</strong></h3>
					<p class="text-right"><a href="#">See all</a></p>
				</div>
				<div class="content">
					<h4>The Princess and the Frog </h4>
						<a href="#"><img src="css/images/coming-soon1.jpg" alt="coming soon" /></a>
					<p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
					<a href="#">Read more</a>
				</div>
				<div class="cl">&nbsp;</div>
				<div class="content">
					<h4>The Princess and the Frog </h4>
						<a href="#"><img src="css/images/coming-soon2.jpg" alt="coming soon" /></a>
					<p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
					<a href="#">Read more</a>
				</div>
				
			</div>
			<!-- end Coming -->
			<div class="cl">&nbsp;</div>
		</div>
		<!-- end Main -->
		{% endblock %}
		{% block footer %}
		{{ include('common/footer.html.twig') }}
		{% endblock %}
        {% block javascripts %}
        	<script type="text/javascript" src="{{ asset('js/jquery-1.4.2.min.js') }}"></script>
        	<script type="text/javascript" src="{{ asset('js/jquery-func.js') }}"></script>
        {% endblock %}
    </div>
	<!-- end Shell -->        
    </body>
    {% endblock %}
</html>
