		<!-- Footer -->
		<div id="footer">
			<p>
				<a href="{{ path('_welcome') }}">HOME</a> <span>|</span>
				<a href="#">NEWS</a> <span>|</span>
				<a href="#">IN THEATERS</a> <span>|</span>
				<a href="#">COMING SOON </a> <span>|</span>
				<a href="#">LATERS BOOKS</a> <span>|</span>
				<a href="{{ path('_top-rated') }}">TOP RATED BOOKS</a> <span>|</span>
				<a href="#">MOST COMMENTED BOOKS</a> <span>|</span>
				<a href="{{ path('_create-book') }}">CREATE BOOK</a> <span>|</span>
				<a href="#">CONTACT </a>
			</p>
			<p> &copy; 2009 Books Hunter, LLC. All Rights Reserved.  </p>
		</div>
		<!-- end Footer -->