			<div id="navigation">
				<ul>
				    <li><a class="active" href="#">HOME</a></li>
				    <li><a href="#">NEWS</a></li>
				    <li><a href="#">IN STORES</a></li>
				    <li><a href="#">COMING SOON</a></li>
				    <li><a href="#">CONTACT</a></li>
				    <li><a href="#">ADVERTISE</a></li>
				</ul>
			</div>