{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>{{ 'title.book_list'|trans }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'label.title'|trans }}</th>
                <th><i class="fa fa-user"></i> {{ 'label.author'|trans }}</th>
                <th><i class="fa fa-calendar"></i> {{ 'label.published_at'|trans }}</th>
                <th><i class="fa fa-cogs"></i> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.title|upper }}</td>
                <td>{{ book.authorId }}</td>
                <td><img src="{{ asset('uploads/BookCovers/'~ book.poster) }}" alt="{{ book.title }}" /></td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('admin_book_show', { id: book.id }) }}" class="btn btn-sm btn-default">
                            {{ 'action.show'|trans }}
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="{{ path('admin_book_edit', { id: book.id }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'book.no_posts_found'|trans }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_post_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus"></i> {{ 'action.create_post'|trans }}
        </a>
    </div>

    {{ parent() }}

{% endblock %}