{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_book_new' %}

{% block main %}
    
    <h1>{{ 'title.book_new'|trans }}</h1>

    {{ include('default/_flash_messages.html.twig') }}
    
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.poster) }}
        {{ form_row(form.subjectId) }}
        {{ form_row(form.authorId) }}
        {{ form_row(form.poster) }}
        {{ form_row(form.overview) }}

        <input type="submit" value="{{ 'label.create_book'|trans }}" class="btn btn-primary" />

        {{ form_widget(form.saveAndCreateNew, { label: 'label.save_and_create_new'|trans, attr: { class: 'btn btn-primary' } }) }}

        <a href="{{ path('admin_book_index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    
{% endblock %}
