{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
<!-- Book -->
<div class="book">
	<div class="book-image">
		<a href="#">
			<span class="play">
				<span class="name">{{ book.title|upper }}</span>
			</span>
			<img src="{{ asset('uploads/BookCovers/'~ book.poster) }}" alt="{{ book.title }}" />
		</a>
	</div>	
	<div class="rating">
		<p>RATING</p>
		<div class="stars">
			<div class="stars-in">
				
			</div>
		</div>
		<span class="comments">{{ book.authorId }}</span>
	</div>
</div>
<!-- end Book -->
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_book_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus"></i> {{ 'action.create_post'|trans }}
        </a>
    </div>
{% endblock %}
